@page "/counter"
@using TweetStream.Models.Models
@using Blazor.UI.Shared
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Start Stream</PageTitle>

<h1>Start Twitter Sample Stream</h1>


      


<p role="status">@streamStatus</p>

<button id="btnStream" class="btn @btnClass" @onclick="StartStream">@buttonText <span class="@iconClass oi oi-media-step-forward" aria-hidden="true"></span></button>

@code {
    string isEnabled = "enabled";
    string buttonText = "Start Stream";
    string functionName = "StartStream";
    string btnClass = "btn-primary";
    bool isRunning = false;
    string streamStatus = "";
    string iconClass = "";
    private async Task<bool> StartStream()
    {
        StartResult startResult;
        buttonText = "Requesting...";
            streamStatus = "Attempting to Start Stream...";
        iconClass = "hide";

        if(!isRunning){
            startResult = await Http.GetFromJsonAsync<StartResult>("tweet");

            if (startResult.IsSuccess)
            {
                isRunning = true;
                buttonText = "Streaming...";
                btnClass = "btn-success";
                streamStatus = "Streaming Sampled Tweets...";
                iconClass = "hide";

                StateHasChanged();
            }else{
                throw new InvalidOperationException(startResult.Message);

            }

            return startResult.IsSuccess;
        }
        return false;
    }
}
