@page "/"

<PageTitle>Tweet Sample Feed Processing</PageTitle>

<h1>Tweet Sample Feed Processing</h1>

<h3>Project Setup</h3>
<ul>
    <li>Please make sure there is a Redis container running on port 6379.</li>
    <li>Click button to start stream on 'Start Stream' menu item.</li>
    <li>Click 'Stream Stats' to see Tweet Totals, Throughput and top 10 Hashtags.</li>
    <li>Totals auto update using a SignalR Hub for near real time (every 1 second) updates.</li>
    <li>Can manually refresh.</li>
</ul>




